name: Tests

on:
  pull_request:
    branches: [ main ]

env:
  JLM_ROOT_DIR: /tmp/jlm

jobs:
  hls-test-suite:
    runs-on: ubuntu-22.04
    if: contains(github.event.pull_request.title, '[DisableCI]') == false
    steps:
    - uses: actions/checkout@v4

    - name: "Create comment if cycles differ"
      uses: actions/github-script@v7
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require("fs");
          const comment = fs.readFileSync("Makefile", { encoding: "utf8" });
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: "```\n" + comment + "```"
          });

    - name: "Install packages"
      uses: ./.github/actions/InstallPackages
      with:
        llvm-version: 18

    - name: "Clone jlm"
      run: git clone https://github.com/phate/jlm.git $JLM_ROOT_DIR
      shell: bash

    - name: "Get the commit used for building CIRCT and use it as the cache key"
      id: get-circt-hash
      run: |
        echo "hash=$($JLM_ROOT_DIR/scripts/build-circt.sh --get-commit-hash)" >> $GITHUB_OUTPUT
      shell: bash

    - name: "Try to fetch CIRCT from the cache"
      id: restore-cache-circt
      uses: actions/cache/restore@v4
      with:
        path: |
          ${{ github.workspace }}/build-circt/circt
        key: ${{ runner.os }}-circt-${{ steps.get-circt-hash.outputs.hash }}

    - name: "Build CIRCT if we didn't hit in the cache"
      if: steps.restore-cache-circt.outputs.cache-hit != 'true'
      run: |
        cd $JLM_ROOT_DIR && \
        ./scripts/build-circt.sh \
          --build-path ${{ github.workspace }}/build-circt \
          --install-path ${{ github.workspace }}/build-circt/circt \
          --llvm-lit-path ~/.local/bin/lit
      shell: bash

    - name: "Save CIRCT to the cache"
      if: steps.restore-cache-circt.outputs.cache-hit != 'true'
      id: save-cache-circt
      uses: actions/cache/save@v4
      with:
        path: |
          ${{ github.workspace }}/build-circt/circt
        key: ${{ steps.restore-cache-circt.outputs.cache-primary-key }}


    - name: "configure and build jlm"
      run: |
        cd $JLM_ROOT_DIR && \
        ./configure.sh --enable-hls=${{ github.workspace }}/build-circt/circt --target release --enable-asserts CXX=clang++ && \
        make -j `nproc` -O all
      shell: bash

    - name: "Add executables to PATH"
      run: |
        echo "${JLM_ROOT_DIR}/build" >> $GITHUB_PATH && \
        echo "${JLM_ROOT_DIR}/usr/bin" >> $GITHUB_PATH
      shell: bash

    - name: "Run HLS test suite"
      run: make -j `nproc` -O run
      shell: bash

    - name: "Create comment if cycles differ"
      if: ${{ hashFiles('build/cycle-diff.log') != '' }}
      uses: actions/github-script@v7
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require("fs");
          const comment = fs.readFileSync("build/cycle-diff.log", { encoding: "utf8" });
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: "```\n" + comment + "```"
          });
